[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediapipe = "*"
opencv-python = "*"
tensorflow = "*"
numpy = "*"
websockets = "*"
zeroconf = "*"
requests = "*"
psutil = "*"
websocket-client = "*"
plyer = "*"

[dev-packages]

[requires]
python_version = "3.12"
